SECRET_KEY=change-me-to-a-long-random-string
DEBUG=False

# Public domain without http/https, e.g. foodgram-efremoff.hopto.org
DOMAIN=foodgram-efremoff.hopto.org
CERTBOT_EMAIL=you@example.com

ALLOWED_HOSTS=localhost,127.0.0.1,foodgram-efremoff.hopto.org
CSRF_TRUSTED_ORIGINS=https://foodgram-efremoff.hopto.org,http://localhost

POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password

DB_ENGINE=django.db.backends.postgresql
DB_HOST=db
DB_PORT=5432

DOCKER_USERNAME=devopser98
