SECRET_KEY=change-me-to-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,158.160.132.25,158.160.132.25.sslip.io
CSRF_TRUSTED_ORIGINS=http://158.160.132.25,http://158.160.132.25.sslip.io,http://localhost

POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password

DB_ENGINE=django.db.backends.postgresql
DB_HOST=db
DB_PORT=5432

DOCKER_USERNAME=devopser98
